
.container{
    display: flex;
    flex-wrap: wrap;
    
}

.cima{
    width: 2060px;
    height: 200px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
    margin: 5px;
    border-radius: 10px;
    
}

.lateral{
    height: 50px;
    width: 250px;
    height: 600px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
    margin: 10px;
    border-radius: 10px;
}

.mae{
    height: 50px;
    width: 1439px;
    height: 600px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reed{
    height: 50px;
    width: 660px;
    height: 550px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
    margin: 10px;
    border-radius: 10px;
}

.bluee{
    height: 50px;
    width: 660px;
    height: 550px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
    margin: 10px;
    border-radius: 10px;
}